/* --------------------------------------------
COMMON CSS
-------------------------------------------- */





/*--------------------------------------
   common
--------------------------------------*/
html { font-size: 62.5%;/* Defauls font-size 10px */ height: 100%; width: 100%; overflow: auto; }
body { min-width: 1000px; }
* { font-family: "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3","Hiragino Kaku Gothic Pro W3",Osaka,"繝｡繧､繝ｪ繧ｪ",Meiryo,"Lucida Grande","�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け","MS PGothic",Geneva,Arial,Verdana,sans-serif; color: #666666; }
.block { display: block; }
.relative { position: relative; }
.inlineblock { display: inline-block; }
.hidden { overflow: hidden; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.floatleft { float: left; }
.floatright { float: right; }
.radius4 { border-radius: 4px; }
.radius6 { border-radius: 6px; }
.justify { text-align: justify; }
.annotation { text-indent: -1em; padding-left: 1em; line-height: 1.4em; }
.verticalalign-top { vertical-align: top; }
.verticalalign-middle { vertical-align: middle; }
.verticalalign-bottom { vertical-align: bottom; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll-y { overflow-y: scroll; overflow-x: hidden; }
.boxsizing-borderbox { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.smallcaps { font-size: 100%; text-indent: -1em; padding-left: 1em; }
.width100per { width: 100%; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.bg-light-gray { background: #F3F3F3; }
.bg-light-red { background: #FFE2D9; }
.photo-right { float: right; margin: 0 0 20px 20px; }
.photo-right p { color: #666; }








/*--------------------------------------
    font
--------------------------------------*/
.lighter { font-weight: lighter; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }
.small { font-size: 90% !important; }
.regular { font-size: 110%; }
.large { font-size: 120%; }
.lh1em { line-height: 1em; }
.lh11 { line-height: 1.1em; }
.lh12 { line-height: 1.2em; }
.lh13 { line-height: 1.3em; }
.lh14 { line-height: 1.4em; }
.lh15 { line-height: 1.5em; }
.lh15 { line-height: 1.5em; }
.lh16 { line-height: 1.6em; }
.lh17 { line-height: 1.7em; }
.lh18 { line-height: 1.8em; }
.lh19 { line-height: 1.9em; }
.lh20 { line-height: 2em; }
.lh2 { line-height: 2em; }
.gray { color: #D1D6DE; }
.red { color: #FF0000; }
.black { color: #000; }
.orange { color: #FF6500; }
.green { color: #339933; }
.fs12 { font-size: 1.2em; }
.fs13 { font-size: 1.3em; }
.fs14 { font-size: 1.4em; }
.fs16 { font-size: 1.6em; }
.fs18 { font-size: 1.8em; }
.fs20 { font-size: 2.0em; }
.fs22 { font-size: 2.2em; }
.fs24 { font-size: 2.4em; }
.fs26 { font-size: 2.6em; }
.fs28 { font-size: 2.8em; }
.fs30 { font-size: 3em; }







/*--------------------------------------
    border��&space��
--------------------------------------*/

.border { border: 1px solid #4C566F; box-sizing: border-box; }
.border-bottom { border-bottom: 1px dotted #CCC; box-sizing: border-box; padding-bottom: 20px; margin-bottom: 20px; }
.border-bottom:last-child { margin-bottom: 0; }
.border-bottom-dotted-ccc { border-bottom: 1px dotted #CCC; padding-bottom: 10px; margin-bottom: 15px; }
.border-and-p20 { border: 1px solid #CCC; box-sizing: border-box; padding: 20px; }







/*--------------------------------------
    list
--------------------------------------*/
ul.liststyle-none li { margin-bottom: 5px; }
ul.liststyle-none li:last-child { margin-bottom: none; }
ul.liststyle-none li:last-child { margin-bottom: 0; }
ul.liststyle {
  list-style:disc outside;
  margin-left:1.8em;
}
ol.liststyle {
  list-style:decimal outside;
  margin-left:2.1em;
}
.list-disc {
  list-style: disc outside;
  margin-left: 1em;
}









/*--------------------------------------
    margin
--------------------------------------*/
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mt5 { margin-top: 10px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mr5 { margin-right: 5px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr50 { margin-right: 50px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.mauto { margin-left: auto; margin-right: auto; }






/*--------------------------------------
    padding
--------------------------------------*/
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.pt0 { padding-top: 0px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px!important; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }









/*--------------------------------------
    table
--------------------------------------*/
.table { display: table; width: 100%; height: 100%; }
/* 縲恵order-collapse: collapse;縲阪�Firefox縺ｧ陦ｨ遉ｺ繝舌げ縺後≠繧九◆繧∽ｽｿ繧上↑縺� */
.table > *{ display:table-cell; vertical-align: middle; }
.tablecell { display: table-cell; }
.tr { display: table-row; }
.th,
.td {
  display: table-cell;
  border-top: none;
  border-right: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.th { border-top: 0 !important; border-right: 0 !important; }
.td { border-top: 0 !important; }
.table-space-none { border-collapse: collapse; }
.border-gray th,
.border-gray td { border: 1px solid #CCC; }
table.p5 th,
table.p5 td {
  padding: 5px;
}
table.p10 th,
table.p10 td {
  padding: 10px;
}
table.p15 th,
table.p15 td {
  padding: 15px;
}
table.center th,
table.center td {
  text-align: center;
}
table.verticalalign-middle th,
table.verticalalign-middle td {
  vertical-align: middle;
}








/*--------------------------------------
    width
--------------------------------------*/
.width100per { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }













/*--------------------------------------
    form
--------------------------------------*/
.input-text { border-radius: 2px; height: 40px; line-height: 40px; padding: 0 15px; border: 1px solid #CCC; background: #F8F8F8; font-size: 1.4rem; margin-right: 10px; box-sizing: border-box; }
.input-text:focus { background: #FFEEEF; }
.error { background: #FFEEEF; border: 1px dotted #C00; }
.sup-label { font-size: 1.4rem; margin-right: 10px; line-height: 40px; display: inline-block; vertical-align: middle; }
.form .address-space { background: #FFFBED; border-radius: 4px; height: 40px; line-height: 40px; padding: 0 15px; font-size: 1.4rem; display: inline-block; vertical-align: middle; margin-left: 15px; border: 1px dotted #FFEFBF;  min-width: 100px; }
.sup-text { font-size: 1.4rem; height: 40px; line-height: 40px; padding: 0 15px; color: #666; }
.select { -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: 0; margin: 0; padding: 0; background: none transparent; vertical-align: middle; font-size: inherit; color: inherit; }
.select { border-radius: 2px; border: 1px solid #CCC; height: 40px; line-height: 40px; padding: 0 60px 0 15px; background: #F8F8F8 url(../img/ct-form-icon-select.png) no-repeat right !important; font-size: 1.4rem; }
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.confirm-text { height: 40px; line-height: 40px; font-size: 1.3em; letter-spacing: 0.1em; }
.textarea { border: 1px solid #CCC; padding: 10px; color: #333; font-size: 1.4em; box-sizing: border-box; }


.cw{width:1000px; margin: 0 auto;}






/*--------------------------------------
    clearfix
--------------------------------------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}